Repository Pradeepsingh61/DSA_Code, pull requests merged in 2025-10, with the labels that each got.

#183 Add: Implement Merge Sort algorithm in C++
  CPP/algorithms/sorting/merge_sort.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor, hacktoberfest, algorithms, lang:cpp

#195 Added the implementation of kadane algorithm implemented in cpp
  CPP/algorithms/dynamic_programming/kadane_Algorithm.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor, needs-work, hacktoberfest2025

#197 Sudoku
  CPP/data_structures/graphs/graph/number of provinces.cpp
  CPP/data_structures/graphs/graph/provinces.cpp
  Java/algorithms/arrays/SudokuSolver.java
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor, needs-work, java

#200 A* Algorithm
  CPP/data_structures/graphs/graph/AStar.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#203 Kadane’s Algorithm (C++) with Description and Complexity
  C/algorithms/graph/dijkstra.c
  CPP/algorithms/dynamic_programming/kadane_Algorithm.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor, c

#201 Add: Dijkstra's Algorithm in C
  C/algorithms/graph/dijkstra.c
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, c

#205 Add Double-Ended Queue (Deque) implementation in C++
  CPP/algorithms/dynamic_programming/egg_dropping.cpp
  CPP/data_structures/queues/queue/deque.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#207 Add Bucket Sort implementation in Python
  Python/algorithms/sorting/bucket_sort.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#208 Add BubbleSort.java with bubble sort algorithm implementation
  Java/algorithms/sorting/BubbleSort.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#224 Add Heap Sort implementation in Python
  Python/algorithms/sorting/heap_sort.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, hacktoberfest, algorithms, python, lang:python

#214 Add Merge Sort implementation in C
  C/algorithms/sorting/merge_sort.c
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, c

#218 Added the Kruskal algo implementation in c
  CPP/algorithms/greedy_algorithms/kruskal_algorithm.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#210 Add Heap Sort implementation in Python
  Python/algorithms/sorting/heap_sort_Abhijit.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#229 Add Binary Search Tree implementation in Python
  Python/data_structures/trees/binary_search_tree.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, hacktoberfest, python, lang:python, data-structures

#232 Added the implmentation of KMP algorithm in cpp
  CPP/algorithms/searching/KMPalgorithm.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#233 Create kruskals.py
  Python/algorithms/graph_algorithms/kruskals.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#235 Added the implementation of KNN advance algorithm
  CPP/algorithms/searching/KNNalgorithm.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#238 Create Design Add and Search Words Data Structure.py
  Python/data_structures/trees/design_add_and_search_words.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, needs-work, python

#248 Added Code to Calculate Height of Binary Tree in Cpp
  .vscode/settings.json
  CPP/data_structures/trees/Trees/Calculate_Tree_Height.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#250 feat: Implement Kruskal's Algorithm for Minimum Spanning Tree in Python
  Python/algorithms/graph_algorithms/README.md
  Python/algorithms/graph_algorithms/kruskals_algorithm.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#253 feat: added code for Moore voting algorithm in java
  Java/algorithms/arrays/MooreVoting.java
  Java/algorithms/sorting/DutchFlag.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, needs-work, java

#255 feat(graph): added max area of island in cpp
  CPP/data_structures/graphs/graph/max_area_of_island.cpp
  CPP/dynamic_programming/longest_increasing_subsequence.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#257 Add Search in Rotated Sorted Array implementation in C++
  CPP/algorithms/searching/search_rotated_sorted_array.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#258 bell-ford-algorithm
  Python/algorithms/graph_algorithms/bell-ford-algorithm.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#261 merge_sort.py added
  Python/algorithms/graph_algorithms/prism_algorithm.py
  Python/algorithms/sorting/merge_sort.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#264 Algo/prims algorithm
  CPP/algorithms/greedy_algorithms/prims_algorithm.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#266 feat: Segment Tree data structure in CPP
  CPP/data_structures/trees/segment_tree.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#267 feat: added stack code
  C/data_structures/stack/stack.c
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, c

#269 Added Interval Scheduling Code
  CPP/algorithms/greedy_algorithms/interval_scheduling.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#271 Add Dinic's Algorithm
  CPP/algorithms/mathematical/README.md
  CPP/algorithms/mathematical/dinics_algorithm.cpp
  content/participation/abhi.md
Labels: hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#274 feat(queue): added circular queue in cpp
  CPP/data_structures/queues/circular_queue.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#275 Added LIS code
  CPP/dynamic_programming/longest_increasing_subsequence_Jayesh.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#282 shell_short
  Python/algorithms/sorting/shell_sort.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#287 docs: Add star repository message to encourage community support
  README.md
Labels: good first issue, hacktoberfest-accepted, first-time-contributor, needs-work

#291 Add Union of Two Linked Lists implementation in CPP
  CPP/data_structures/linked_lists/union_of_two_linked_lists.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor, needs-work

#292 feat(Cpp): n/2 majority element using Boyer-Moore Voting Algo
  CPP/algorithms/arrays/n_2BoyerMooreVotingAlgo.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#294 feat(Cpp): n/3 majority element using modified Boyer-Moore Voting Algo
  CPP/algorithms/arrays/n_3ModifiedBoyerMooreAlgo.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#299 Implement Link/Cut Tree data structure with dynamic connectivity and path queries
  CPP/algorithms/mathematical/lucas_theorem.cpp
  CPP/data_structures/trees/Trees/link_cut_tree.cpp
  content/participation/abhi.md
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor, needs-work

#305 Add Word Dictionary Trie in Python
  Python/algorithms/graph_algorithms/word-dictionary-trie.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#313 Add Longest Common Subsequence (LCS) implementation in C++ with DP
  CPP/algorithms/dynamic_programming/knapsack_problem.cpp
  CPP/algorithms/dynamic_programming/longest_common_subsequence.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#316 Added sudoku solver algorithm using recursion in C++
  CPP/recursion/sudoku_solver.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#308 BACKTRACKING ALGOS
  Python/algorithms/backtracking/generate_parentheses.py
  Python/algorithms/backtracking/generate_permutations.py
  Python/algorithms/backtracking/knights_tour.py
  Python/algorithms/backtracking/rat_in_maze.py
  Python/algorithms/backtracking/subset_sum.py
  Python/algorithms/backtracking/sudoku_solver.py
  Python/algorithms/backtracking/word_search.py
Labels: hacktoberfest-accepted, tests-passing, first-time-contributor, advanced, python

#323 Added BFS Traversal code implementation in java
  Java/algorithms/graph_algorithms/BFSTraversal.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#329 Added ceaser cipher in go.
  README.md
  go/ciphers/ceaser_cipher.go
  go/ciphers/ceaser_cipher_test.go
Labels: hacktoberfest-accepted, tests-passing, first-time-contributor, go

#334 Add find_all_duplicates.py to arrays folderAdd find_all_duplicates.py under correct arrays folder
  Python/algorithms/arrays/find_all_duplicates.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#331 number_game_guess
  Python/projects/games/number_guess_game.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#324 Create pancake_sort.py
  Python/algorithms/sorting/pancake_sort.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#325 Create bogo_sort.py
  Python/algorithms/sorting/bogo_sort.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#326 Create Gnome_sort.py
  Python/algorithms/sorting/Gnome_sort.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#335 Add Flood Fill algorithm in Java (DFS & BFS)
  Java/algorithms/graph_algorithms/FloodFill.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#336 Added Tic Tac Toe Game.
  CPP/projects/TicTacToe(C++)/start.cpp
Labels: good first issue, hacktoberfest-accepted, c++, first-time-contributor, needs-work

#337 Sentinel Linear Search
  Python/algorithms/searching/sentinel_linear_search.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#338 Added WildCard_Matching.cpp
  CPP/algorithms/dynamic_programming/WildCard_Matching.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#341 added round_robin in go/load_balancer
  go/load_balancer/round_robin.go
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, go

#342 feat: Implement Finite Automata Algorithm for Pattern Searching
  Python/algorithms/string_algorithms/finite_automaton_pattern_search.py
  content/participation/abhiram.md
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#344 Added Doubly Linked List AST operations in Python + Linked List in Java
  Java/data_structures/linked_lists/LL.java
  Python/data_structures/linked_lists/doubly_LL.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python, java

#348 Added Pell's Equation solver in C++
  CPP/algorithms/mathematical/pells_equation.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#351 Add QuickSort implementation in Java
  Java/algorithms/sorting/QuickSort.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#354 Binary search in c
  C/algorithms/searching/binary_search.c
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, c

#357 Add reverse_stack_recursion implementation in cpp
  CPP/recursion/recursion/reverse_stack.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor, needs-work

#358 IMPLEMENT CORE DP PROBLEMS
  C/dynamic_programming/coin_change_problem.c
  C/dynamic_programming/fibonacci_sequence.c
  C/dynamic_programming/longest_common_subsequence.c
  content/participation/durva-kadam.md
  static/images/Durva_Kadam.jpg
Labels: hacktoberfest-accepted, tests-passing, first-time-contributor, c

#362 Feature/dijkstra algorithm
  CPP/algorithms/graph_algorithms/dijkstra_algorithm.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#367 Add Majority_Element_II implementation in cpp
  CPP/algorithms/arrays/Majority_Element_II.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#369 Added Tarjan's Algorithm for Bridges & Articulation Points in Java
  Java/algorithms/graph_algorithms/TarjanBridgesArticulation.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#372 Prism Algorithm
  CPP/data_structures/graphs/graph/prism.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#376 Added cyclic sort
  CPP/basic_programs/cyclic_sort.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#377 Added Huffman Coding Algorithm (C++)
  CPP/algorithms/greedy_algorithms/huffman_algo.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#379 Added Nodes_at_distanceK.cpp
  CPP/data_structures/trees/Trees/Nodes_at_distanceK.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor, needs-work

#382 #182 - Sparse Matrix Operation
  CPP/algorithms/mathematical/sparse_matrix.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#386 feat: Add Matrix Chain Multiplication in C++
  CPP/dynamic_programming/Matrix_chain_mul.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#387 Added linked_list_demo.py
  Python/data_structures/linked_lists/linked_list_demo.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#391 Feature/prims pr
  CPP/algorithms/graph_algorithms/prims_algorithm.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#394 Added A* Algo in Python
  Python/algorithms/graph_algorithms/a_star.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#395 added inmemory_cache in go/cache
  go/cache/inmemory_cache.go
  go/cache/inmemory_cache_test.go
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, go

#390 Implementation of KadaneAlgorithm
  Java/algorithms/arrays/KadaneAlgorithm.java
  Java/algorithms/arrays/KadanesAlgorithm.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, needs-work, java

#400 Added new Directory Ml and implemented basic algos
  Python/machine_learning/gradient_descent.py
  Python/machine_learning/linear_regression.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#405 Implement BFS (Breadth First Search) traversal for graph algorithms
  Java/algorithms/graph_algorithms/BFSShortestPath.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, needs-work, java

#409 Added Linked List in C
  C/data_structures/linked_lists/linked_list.c
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, c

#411 Implement basic linked list in C with insertion and deletion
  C/data_structures/linked-lists/linked_list
  C/data_structures/linked-lists/linked_list.c
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, c

#416 Create LinkedList.c
  C/data_structures/LinkedList.c
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, c

#417 Create RadixSort.java
  Java/algorithms/sorting/RadixSort.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#423 Add Matrix Multiplication algorithm in Java under algorithms/matrix
  Java/algorithms/matrix/MatrixMultiplication.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#431 Added kahn's algo
  CPP/algorithms/graph_algorithms/kahn_algorithm.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#419 Add Radix Sort algorithm in Java Sorting folder
  Java/algorithms/sorting/RadixSortREVANT.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, needs-work, java

#439 [FEATURE] Add Modern Frontend UI for DSA Code Repository
  frontend/README.md
  frontend/css/animations.css
  frontend/css/components.css
  frontend/css/style.css
  frontend/index.html
  frontend/js/data.js
  frontend/js/main.js
Labels: hacktoberfest-accepted, tests-passing, first-time-contributor, advanced, javascript

#440 Add Exponential Search with bounds helpers and t…
  Java/algorithms/searching/ExponentialSearch.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#441 feat(cpp/sorting): add bucket sort and count sort implementations
  CPP/algorithms/sorting/Sorting/Bucket_Sort.cpp
  CPP/algorithms/sorting/Sorting/Count_Sort.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#447 Added Cycle Sort
  Java/algorithms/sorting/CycleSort.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#452 Added Stack Implementation using Linked List in Java
  Java/data_structures/stacks/StackUsingLinkedList.java
  Java/data_structures/stacks/StackUsingQueues.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#453 Added Disjoint Set Union (DSU) algorithm
  Java/algorithms/graph_algorithms/DisjointSetUnion.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#456 Add Longest Common Subsequence (LCS) algorithm using dynamic programming
  Python/dynamic_programming/lcs_subsequence.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#460 Create ColorSwap.cpp
  CPP/projects/ColorSwap.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#461 Add: Manacher's Algorithm in Java
  Java/algorithms/string_algorithms/ManacherAlgorithm.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#445 feat: Add React Frontend Application for DSA Code Repository
  frontend/README.md
  frontend/css/animations.css
  frontend/css/components.css
  frontend/css/style.css
  frontend/index.html
  frontend/js/data.js
  frontend/js/main.js
  react-frontend/.env.example
  react-frontend/.github/workflows/deploy.yml
  react-frontend/DEPLOYMENT.md
  react-frontend/ENVIRONMENT.md
  react-frontend/README.md
  react-frontend/SETUP.md
  react-frontend/package.json
  react-frontend/public/index.html
  react-frontend/public/manifest.json
  react-frontend/src/App.js
  react-frontend/src/components/AlgorithmCard.js
  react-frontend/src/components/CodeWindow.js
  react-frontend/src/components/Footer.js
  react-frontend/src/components/LoadingScreen.js
  react-frontend/src/components/Navbar.js
  react-frontend/src/components/ScrollToTop.js
  react-frontend/src/context/GitHubContext.js
  react-frontend/src/context/ThemeContext.js
  react-frontend/src/index.css
  react-frontend/src/index.js
  react-frontend/src/pages/About.js
  react-frontend/src/pages/AlgorithmDetail.js
  react-frontend/src/pages/Algorithms.js
  react-frontend/src/pages/Contribute.js
  react-frontend/src/pages/DataStructureDetail.js
  react-frontend/src/pages/DataStructures.js
  react-frontend/src/pages/Home.js
  react-frontend/src/pages/LanguageDetail.js
  react-frontend/src/pages/Languages.js
  react-frontend/src/pages/NotFound.js
Labels: hacktoberfest-accepted, first-time-contributor, needs-work, advanced, javascript

#463 Added Two Stacks in One Array implementation in Java
  Java/data_structures/stacks/StackUsingQueues.java
  Java/data_structures/stacks/TwoStacksInOneArray.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#482 Added Hash Table in C
  C/data_structures/hash_table/hash_table.c
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, c

#300 Add Fast Exponentiation in CPP
  CPP/algorithms/mathematical/fast_exponentiation_Abhinav.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#426 Implement Radix Sort Algorithm in Java - Fixes #407
  Java/algorithms/sorting/RadixSortAdarsh.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#467 Added a C++ program to check if two strings are anagram
  CPP/basic_programs/Check_for_anagram.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#469 Create Wave Sort.cpp
  CPP/algorithms/sorting/Wave_Sort.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor, needs-work

#468 fractional knapsack in cpp
  CPP/algorithms/dynamic_programming/fractional_knapsack.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#474 added buy-sell-stock question in python dp
  Python/dynamic_programming/Best_Time_to_Buy_and_Sell_Stock.py
  Python/dynamic_programming/Best_Time_to_Buy_and_Sell_Stock_2.py
  Python/dynamic_programming/Best_Time_to_Buy_and_Sell_Stock_3.py
Labels: hacktoberfest-accepted, tests-passing, first-time-contributor, python

#486 Implement Infix to Postfix conversion
  CPP/data_structures/stacks/InfixToPostfix.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor, needs-work

#487 Tic Tac Toe
  CPP/projects/TicTacToe(C++)/TicTacToe.cpp
Labels: good first issue, hacktoberfest-accepted, c++, first-time-contributor, needs-work

#488 Added climbing stairs DP probelm in Java
  Java/dynamic_programming/climbing_stairs.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#494 Create rock_paper_scissors.py
  Python/projects/games/rock_paper_scissors.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#500 Added LIS Code (Longest Increasing Subsequence -> DP)
  Java/dynamic_programming/LIS.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#503 Added Solution to Climbing Stairs in Python
  Python/dynamic_programming/Climbing_Stairs.py
  Python/dynamic_programming/House_Robber.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#507 Added unique paths DP problem in Java
  Java/dynamic_programming/unique_paths.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, needs-work, java

#523 Added MST (Minimum Spanning Tree) implementation in Java using Kruska…
  Java/algorithms/graph_algorithms/KruskalMST.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#526 Added Container with Most Water Problem implemented in C++
  CPP/algorithms/arrays/container_with_most_water.cpp
Labels: good first issue, hacktoberfest-accepted, c++, tests-passing, first-time-contributor

#527 Add comprehensive KMP (Knuth-Morris-Pratt) string matching algorithm
  C/algorithms/string_algorithms/kmp_algorithm.c
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, c

#530 Add comprehensive AVL Tree (self-balancing BST) implementation
  C/data_structures/trees/avl_tree.c
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, c

#531 Add comprehensive Floyd-Warshall all-pairs shortest path algorithm
  C/dynamic_programming/floyd_warshall.c
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, c

#534 Adds Typescript and Javascript implementation of Stack
  JavaScript/data_structures/stack/stack.js
  TypeScript/data_structures/stack/stack.ts
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, javascript

#535 StalinSort
  Java/algorithms/sorting/StalinSort.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#539 Tree Algorithm Lowest Common Ancestor
  Java/algorithms/TreesAlgorithm/LCA.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#546 Added BellmanFord Algorithm of Dynamic Programming using java
  Java/dynamic_programming/BellmanFord.java
  Java/dynamic_programming/Knapsack.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#549 Added Floyd-Warshall Algorithm in Python
  Python/data_structures/graphs/bellman_ford.py
  Python/data_structures/graphs/floyd_warshall.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#548 Added Bellman-Ford Algorithm in Python
  Python/data_structures/graphs/bellman_ford.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#547 Add third PR: Binomial Coefficient Algorithm of Dynamic Programming using Java
  Java/dynamic_programming/BinomialCoefficient.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#552 Added DP solution for Regular Expression Matching in Java
  Java/dynamic_programming/RegularExpressionMatching.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#540 Create ToDoList.py
  Python/projects/ToDoList.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python

#544 Added kanpsack algorithm using dynamic programming.
  Knapsack.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, needs-work, java

#556 Added Diagonal Traversal algorithm in matrix (java)
  Java/algorithms/matrix/DiagonalTraversal.java
  Java/algorithms/matrix/SetMatrixZeroes.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#562 Add DP solution for Palindrome Partitioning problem in Java
  Java/dynamic_programming/PalindromePartitioning.java
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, java

#572 Implement Queue class with basic operations using typescript
  TypeScript/data_structures/queue/queue.ts
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor

#577 Task2
  Python/algorithms/sorting/merge_sort.py
  Python/algorithms/sorting/merge_sort_enhanced.py
Labels: good first issue, hacktoberfest-accepted, tests-passing, first-time-contributor, python
